body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*CSS for header og nav*/
header{
    text-align: center;
    background-image: url("img/rocks-8208314_640.jpg");
    background-size:cover;
    padding: 1rem;
}

header nav ul{
    list-style: none;
    margin: 1rem 0 0 0; /*Topp, høyre, bunn, venstre*/
    padding: 0;
}

header nav span a{
    font-weight: 900;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: inline-block
}

main{
    text-align: center;
}
main section h2{
    margin: 2rem 0
}

article{
    max-width: 500px;
    min-width: 250px;
    width: 100%;
    margin: 0 auto;
}

main section article img{
    width: 100%;
}