
main{
    margin: 0 2%;
    max-width: 2200px;
}
main h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}
main h2{
    font-size: 2rem;
    flex-basis: 100%;
}
main h3{
    font-weight: normal;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #000;
    color: white;
    padding: 1rem 0;
    margin: 2% 0;
}
article{
    flex-basis: 49%;
    text-align: center;
}

main li{
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0;
}
main li:last-child{
    padding: 0;
}

.SEO_bilder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.SEO_bilder > img {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

.beskrivende_tekst {
    font-size: 1.5rem;
    text-align: start;
    width: 100%; 
    margin: 10px 0;
    background-color: rgb(222, 222, 222);
    padding: 2%;
    border-radius: 10px;
}
.deler {
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #000; 
    margin: 4rem 0;
    padding: 0;
}

.flex_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.goTo{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.goTo > a {
    background-color: darkgreen;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    align-self: center;
}
@media screen and (max-width: 950px) {
    article{
        flex-basis: 100%;
    }
    .beskrivende_tekst {
        width: 96%; 
        margin-left: 2%;
    }
    .SEO_bilder {
        width: 96%;
    }
    .goTo{
        display: flex;
        flex-direction: column;
    }
    .goTo> a{
        position: relative;
        right: 0;
        margin: 2% 0;
    }
}