
main{
    margin: 0 2%;
    max-width: 2200px;
}
main h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}
main h2{
    font-size: 2rem;
    flex-basis: 100%;
}
main h3{
    font-weight: normal;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #000;
    color: white;
    padding: 1rem 0;
    margin: 2% 0;
}
article{
    flex-basis: 100%;
    text-align: center;
}

main li{
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0;
}
main li:last-child{
    padding: 0;
}

.SEO_bilder {
    display: flex;
    justify-content: center;
    width: 96%;
    margin: 0 auto;
}

.SEO_bilder > img {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

.beskrivende_tekst {
    font-size: 1.5rem;
    text-align: start;
    width: 96%; 
    margin: 10px 0 0 2%;
    background-color: #E6E6E6;
    padding: 2%;
    border-radius: 10px;
}
.deler {
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #000; 
    margin: 4rem 0;
    padding: 0;
}

.flex_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.goTo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.goTo > a {
    background-color: darkgreen;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    align-self: center;
    margin: 2% 0;
}

table{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
    white-space: wrap;
}

table tr th{
    border: 1px solid black;
    font-weight: normal;
    padding: 0.2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    white-space: wrap;
}

.form_background{
    background-color: lightgrey;
    color: black;
    font-weight: 600;
    white-space: wrap;
    font-size: 1rem;
}

#liste_m_tiltak section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
}

#liste_m_tiltak section li { 
    color: black; 
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 1.2rem;
    line-height: 20px;
    list-style:decimal
}
#liste_m_tiltak section li:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; 
    top: -14px;
    left: -37px;
}
#liste_m_tiltak ol li:before { 
    border-color: #0BAD02; 
}





@media screen and (min-width: 950px) {
    article{
        flex-basis: 49%;
    }
    .beskrivende_tekst {
        width: 100%; 
        margin-left: 0%;
    }
    

    .SEO_bilder {
        width: 100%;
    }
    .goTo{
        display: flex;
        flex-direction: row;
    }
    .goTo> a{
        position: relative;
        right: 0;
    }
    table{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
        font-size: 1.5rem 
    }

    table tr th{
        border: 1px solid black;
        font-weight: normal;
        padding: 1rem;
        gap: 1rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    } 
    .form_background{
        font-size: 2rem;
    }    
    
}