
main{
    margin: 0 2%;
    max-width: 2200px;
}
main h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}
main h2{
    font-size: 2rem;
    flex-basis: 100%;
}
main h3{
    font-weight: normal;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #000;
    color: white;
    padding: 1rem 0;
    margin: 2% 0;
}
article{
    flex-basis: 49%;
    text-align: center;
}

main li{
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0;
}
main li:last-child{
    padding: 0;
}

.SEO_bilder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.SEO_bilder > img {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

.beskrivende_tekst {
    font-size: 1.5rem;
    text-align: start;
    width: 100%; 
    margin: 10px 0;
    background-color: rgb(222, 222, 222);
    padding: 2%;
    border-radius: 10px;
}
.deler {
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #000; 
    margin: 4rem 0;
    padding: 0;
}

.flex_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.goTo{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.goTo > a {
    background-color: darkgreen;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    align-self: center;
}

table{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

table tr th{
    border: 1px solid black;
    font-weight: normal;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.form_background{
    background-color: lightgrey;
    color: black;
    font-weight: 600;
}

#liste_m_tiltak  section{ 
    font-style: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
}

#liste_m_tiltak section li { 
    color: #4F4F4F; 
    padding-left: 16px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    list-style:decimal
}
#liste_m_tiltak section li:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; /* yeah, you have to manually position it based on the text size, line height, etc. (in the parent li style). it's not the smarest solution */
    top: -14px;
    left: -35px;
}
#liste_m_tiltak ol li:before { 
    border-color: #0BAD02; 
}








@media screen and (max-width: 950px) {
    article{
        flex-basis: 100%;
    }
    .beskrivende_tekst {
        width: 96%; 
        margin-left: 2%;
    }
    .SEO_bilder {
        width: 96%;
    }
    .goTo{
        display: flex;
        flex-direction: column;
    }
    .goTo> a{
        position: relative;
        right: 0;
        margin: 2% 0;
    }
}