@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/*Importerer inn Roboto Font*/

* {
    box-sizing: border-box;
}

header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1em + 1vw);
    min-width: none !important;
    max-width: 2200px !important;
    width: 100% !important;
}

@media screen and (min-width: 0px) and (max-width: 950px) { /*Mobil og nettbrett*/
    #grid_container{
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .flex_center{ /*Brukes flere steder*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 10%;
    }
    nav span{
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }
    nav ul{
        text-align: center;
        padding: 0;
        margin: 1rem 0 0 0;
    }
    nav ul li{
        list-style: none;
        padding: 0.5rem 0;
    }
    nav ul li:last-child{
        padding: 2rem 0;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    #contact{
        background-color: #e6bd43;
        font-weight: 600;
        padding: 1rem;
    }
    #active_navigation{
        font-weight: 600;
        padding: 0;
        border-bottom: solid #e6bd43;
    }
    /*---------------------------------------*/
    /*----------- MAIN STARTER HER ----------*/
    /*---------------------------------------*/
    main h1{
        font-size: 2.5rem;
    }
    main h2{
        font-size: 2rem;
        margin: 0;
    }
    main p{
        text-align: left;
    }


    /*---------------------------------------*/


    #main_services{
        text-align: center;
        background-size: cover;
        background-position: center; 
        color: white;
        backdrop-filter: blur(1px); /*Gjør teksten litt lettere å lese med tanke på bakgrunnen*/
    }
    #main_services a{
        display: block;
        text-decoration: none;
        color: black;
        background-color: #e6bd43;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 600;
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        text-align: left;
    }
    #bakgrunnsMedia{
        background-image: url("/ressurser/bilder/apple_pic.jpg");   /*https://emailanalytics.com/27-ways-to-increase-employee-productivity-in-the-workplace/*/
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    video{
        display: none;
    }


    /*---------------------------------------*/

    #help_visitors{
        justify-content: center;
        text-align: center;
        margin: 5rem 10%;
    }


    /*---------------------------------------*/


    #about_us{
        background-color: #e6bd43;
        padding: 10%;
        text-align: center;
        margin: 0;
    }

    #about_us picture{
        margin: 0rem 0 2rem 0;
        width: 100%;
        height: 100%;
    }
    #about_us img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    
    #about_us a{
        display: block;
        background-color: #e6bd43;
        border: 2px solid black;
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        text-align: left;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    /*---------------------------------------*/

    #our_services{
        text-align: center;
        margin: 1rem 10%;
        gap: 2rem;
    }
    #our_services h2{
        margin: 2rem 0;
    }
    #our_services i{
        color: black;
        font-size: 2rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #our_services p{
        text-align: center;
    }

    /*---------------------------------------*/
    #newsletter{
        background-color: #eeee;
        padding: 2rem 0 4rem 0;
        margin: 0;
    }
    #newsletter h3{
        flex-basis: 100%;
        text-align: center;
    }
    #newsletter form{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2%;
    }
    #newsletter form button{
        background-color: #e6bd43;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 600;
        flex-basis: 29%;
        margin-right: 10%;
    }
    #newsletter form input{
        border: none;
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
        flex-basis: 69%;
        margin-left: 10%;
    }

    #logo_footer{
        background-color: #252525 ;
        padding: 5rem 0;
        margin: 0 !important;
    }

}




@media screen and (min-width: 950px) { /*Desktop*/
    body{
        margin:0 auto /* Kicker inn hvis bredden blir mer enn max-width som er 2200px*/
    }
    #grid_container {
        display: grid;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .flex_center{ /*Brukes flere steder*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 10%;
    }
    nav{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem; /*Lager litt luft for bakgrunnsvideoen*/
    }
    nav span{
        margin: 1rem 0 0 1rem;
    }
    nav span img{
        width: 75%;
        height: auto;
    }
    nav ul{
        display: flex;
        flex-direction: row !important;
        margin: 0 !important;
    }
    nav ul li{
        list-style: none;
        padding: 0 1rem;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    #contact{
        background-color: #e6bd43;
        font-weight: 600;
        padding: 1rem;
    }
    #contact:hover{
        background-color: #252525;
        color: #e6bd43;
    }
    #active_navigation{
        font-weight: 600;
        padding: 0;
        border-bottom: solid #e6bd43;
    }
    /*---------------------------------------*/
    /*----------- MAIN STARTER HER ----------*/
    /*---------------------------------------*/

    main h1{
        font-size: 3.5rem;
    }
    main h2{
        font-size: 2.5rem;
        margin: 0;
    }
    main p{
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
    }


    /*---------------------------------------*/


    #main_services{
        text-align: center;
        background-size: cover;
        background-position: center; 
        color: black;
        margin: 7rem 0;
    }
    #main_services h1{
        margin-top: 0;
    }
    #main_services p{
        margin: 0 10%;
    }
    #main_services a{
        display: inline-block;
        width: auto;
        text-decoration: none;
        color: black;
        background-color: #e6bd43;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 600;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
    }
    #main_services a:hover{
        background-color: #252525;
        color: #e6bd43;
    }

    #bakgrunnsMedia {
        position: relative;
        overflow: hidden;
    }   
    #background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Setter videoen bak teksten */
        object-fit: cover; /* For å sikre at videoen dekker hele bakgrunnen */
    }

    /*---------------------------------------*/

    #help_visitors{
        justify-content: center;
        text-align: center;
        margin: 5rem 10%;
    }

    /*---------------------------------------*/


    #about_us{
        background-color: #e6bd43;
        padding: 10%;
        text-align: center;
        margin: 0;
    }

    #about_us picture{
        margin: 0rem 0 2rem 0;
        width: 100%;
        height: 100%;
    }
    #about_us img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    
    #about_us a{
        display: block;
        background-color: #e6bd43;
        border: 2px solid black;
        margin: 1rem 0;
        padding: 1rem 1.5rem;
        text-align: left;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

}