@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1em + 1vw);
    padding: 0;
    margin: 0;
}
/*----------HEADER CONTENT----------*/
header {
    background-color: white;
    width: 96%;
    margin-left: 2%;
}
header>nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
header>nav>ul>li {
    padding: 0;
    margin: 0;
}
header>nav>ul>li>a {
    text-decoration: none;
    color: black;
}
header>nav>ul>li>img {
    max-width: 35px;
    max-height: 35px;
    min-width: 25px;
    min-height: 25px;
}
#LOGO {
    font-size: 2rem;
    font-weight: 600;
}
#menu_icon {
    margin-top: 0.3rem;
}
#search_icon{
    margin-top: 0.2rem;
}
#profile_icon {
    margin-top: 0.1rem;
}
hr {
    padding: 0;
    height: 0.2rem;
    width: 100%;
    background-color: black;
    border-radius: 20px;
}

/*----------MAIN CONTENT----------*/
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
main>section {
    position: relative;
    margin: 2% 2%;
}
main>section {
    position: relative;
    display: block;
}
main>section>picture>img {
    max-width: 1000px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
main>section>h2 {
    font-size: 6vw;
    text-align: right;
    width: 55%;
    position: absolute;
    margin: 1%;
    top: 0px;
    right: 0px; 
    background-color: rgba(39, 39, 39, 0.7);
    color: #fff; 
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
}
main>section>a{
    position: absolute;
    padding: 2vw 4vw;
    margin-top: 3%;
    background-color: black;
    border-radius: 15px;
    border-color: transparent;
    z-index: 1;
    top: 20vw;
    right: 10vw;
    text-decoration: none;
    text-align: center;
    font-size: 3vw;
    color: white;
}

/*----------Aside CONTENT----------*/

.horisontale_utstillinger>h2 {
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
}
.flexbox { /*Brukes flere steder*/
    display: flex;
    flex-direction: row;
    width: 100%;
}
.bildeRamme {
    overflow: hidden;
    margin: 0 0 0 2%;
    padding: 0;
    height: 40%;
    width: 40%;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.10);
}

.bildeUtstilling {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%
}
.skoMerke {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 0 0 0;
    margin: -0.4rem 0 0 2%;
}
.skoType{
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0 0 10% 2% ;
}

/*----------Avdeling CONTENT----------*/

/*.flexbox { # Laget tidligere
    display: flex;
    flex-direction: row;
    width: 100%;
}*/

#velg_avdeling {
    position: relative;
    overflow: hidden;
}

#velg_avdeling > h2 {
    font-size: 1.5rem;
    text-align: center;
}
.avdeling_boks {
    margin: 0;
    padding: 0;
    position: relative; /* Legger til relativ posisjon for å angi absolutt posisjon på knappen */
}
.avdeling_boks > img {
    max-height: 700px;
    max-width: 700px;
    height: 250px;
    width: auto;
}
.avdeling_boks > figcaption {
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: rgba(0, 0, 0, 0.7); /* Legg til en bakgrunnsfarge for knappen */
    text-align: center;
}

.avdeling_boks > figcaption > button {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: block;
}






/*----------Bli medlem CONTENT----------*/
#bliMedlem{
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    height: 12rem;
    padding: 0.1rem;
    background-color: #858585;
}
#bliMedlem>h2, #bliMedlem>p{
    text-align: center;
    color: white;
    margin: 1rem;
}
#bliMedlem>button{
    border-radius: 10px;
    padding: 1.5vw;
    border-color: transparent;
    background-color: black;
    color: white;
    position: absolute;
    left: 42%;
}




/*----------Footer CONTENT----------*/
footer{
    margin-top: 4%;
    width: 100%;
    height: 32rem;
    background-color: #858585;
}