@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1em + 1vw);
    padding: 0;
    margin: 0;
}
/*----------HEADER CONTENT----------*/
header {
    background-color: white;
    width: 96%;
    margin-left: 2%;
}
header>nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
header>nav>ul>li {
    padding: 0;
    margin: 0;
}
header>nav>ul>li>a {
    text-decoration: none;
    color: black;
}
header>nav>ul>li>img {
    max-width: 35px;
    max-height: 35px;
    min-width: 25px;
    min-height: 25px;
}
#LOGO {
    font-size: 2rem;
    font-weight: 600;
}
#menu_icon {
    margin-top: 0.3rem;
}
#search_icon{
    margin-top: 0.2rem;
}
#profile_icon {
    margin-top: 0.1rem;
}
hr {
    padding: 0;
    height: 0.2rem;
    width: 100%;
    background-color: black;
    border-radius: 20px;
}

/*----------MAIN CONTENT----------*/
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
main>section {
    position: relative;
    margin: 2% 2%;
}
main>section>picture {
    position: relative;
    display: block;
}
main>section>picture>img {
    max-width: 1000px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}
main>section>picture>h1 {
    font-size: 6vw;
    text-align: right;
    width: 55%;
    position: absolute;
    margin: 1%;
    top: 0px;
    right: 0px; 
    background-color: rgba(39, 39, 39, 0.7);
    color: #fff; 
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
}
main>section>picture>button{
    position: absolute;
    padding: 1vw 3vw 1vw 3vw;
    margin-top: 3%;
    background-color: black;
    border-radius: 15px;
    border-color: transparent;
    z-index: 1;
    top: 20vw;
    right: 10vw;
}
main>section>picture>button>a {
    text-decoration: none;
    text-align: center;
    font-size: 3vw;
    color: white;
}
/*----------Aside CONTENT----------*/

.horisontale_utstillinger>h2 {
    font-size: 1.5rem;
    text-align: center;
}
.horisontale_utstillinger>section {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.bildeRamme {
    margin: 0 0 0 2%;
    padding: 0;
    height: 40%;
    width: 40%;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.10);
}

.bildeUtstilling {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%
}
.skoMerke {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 0 0 0.2rem;
    margin: -0.4rem 0 0 0;
}
.skoType{
    font-size: 0.8rem;
    margin: 0 0 10% 3% ;
}

/*----------Avdeling CONTENT----------*/
#velg_avdeling>h2{
    font-size: 1.5rem;
    text-align: center;
}
#velg_avdeling>span{
    height: 100%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.avdeling_boks{
    margin: 0 0 0 2%;
    padding: 0;
    height: 460px auto;
    width: 100%;
}
.avdeling_boks>img{
    width: 100%;
    height: 100%;
}
.avdeling_boks>button{
    background-color: black;
    border-color: transparent;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.avdeling_boks>button>a{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}